@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Koulen&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
:root{
    --main-color-900:#a80000;
    --main-color-800:#be0000;
    --main-color-700:#e70000;
    --main-color-600:#ff0000;
    --main-color-500:#ff0000;
    --main-color-400:#ff0000;
    --main-color-300:#ff0000;
    --main-color-200:#ff0000;
    --main-color-100:#ffdada;

}
body{
    background-color:rgba(23, 21, 21, 0.941) !important;
}
.bg-hd{
    background: url(../img/game_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.bg-black-50{
    /* background: url(https://images4.alphacoders.com/208/208628.jpg); */
    background-color:rgba(0, 0, 0, 0.813) !important;
    /* background-repeat: no-repeat;
    background-size: cover; */
    width: 100%;
    height: 100%;
}
.text-danger-900{
    color: var(--main-color-900);}
.text-danger-800{
    color: var(--main-color-800);
}
.text-danger-700{
    color: var(--main-color-700);
}
.text-danger-600{
    color: var(--main-color-600);
}
.text-danger-500{
    color: var(--main-color-500);
}
.text-danger-400{
    color: var(--main-color-400);
}
.text-danger-300{
    color: var(--main-color-300);
}
.text-danger-200{
    color: var(--main-color-200);
}
.text-danger-100{
    color: var(--main-color-100);
}
.font_kh{
    font-family:sans-serif;
    font-weight: 900;
}
.font_eng{
    font-family:sans-serif;
    font-weight: 800;
}
.font_eng_normal{
    font-family:sans-serif;
}
.text-hover:hover{
    color: var(--main-color-500) !important;
}
.bg-hover:hover{
    background-color: var(--main-color-900) !important;
    color: white;
}
.btn-danger-500{
    background-color: var(--main-color-700) !important;
    color: white !important;
}
.koulen {
    font-family: "Koulen", sans-serif;
  }
  .aton_font{
    font-family: "Anton", sans-serif;
    font-weight: 900;
  }

    main .hero{
        height: 100vh;
        background: url(../img/banner_zin.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center;
        width: 100%;
        display: flex;
        align-items: center;
        transition: 0.2s ease-in-out;
    }
    main .movie-card{
        width: 100%;
    }
    .img-hover:hover img{
        filter: brightness(110%) !important;
        width:240.5px !important;
        height:340.5px !important;
        
    }
    .heng::-webkit-scrollbar{
        display: none;
    }

